@font-face {
  font-family: 'MinotaurPhatte';
  src: url('fonts/minotaur-webfont.eot');
  src: url('fonts/minotaur-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/minotaur-webfont.woff') format('woff'),
  url('fonts/minotaur-webfont.ttf') format('truetype'),
  url('fonts/minotaur-webfont.svg#MinotaurPhatte') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'OrbitronRegular';
  src: url('fonts/orbitron-medium-webfont.eot');
  src: url('fonts/orbitron-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/orbitron-medium-webfont.woff') format('woff'),
  url('fonts/orbitron-medium-webfont.ttf') format('truetype'),
  url('fonts/orbitron-medium-webfont.svg#OrbitronRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.transit {
  h2 {
    border: none;
  }

  h3 {
    margin-top: 100px;
  }

  iframe {
    border: 20px solid black;
    margin-top: 10px;
  }

  img {
    border: 20px solid black;
    margin-top: 10px;
  }
}

.dc-transit-logo {
  position: absolute;
  top:10px;
  left: 10px;
  whitespace: pre;
  border: none;

  div {
    display: inline-block;
    float: left;
    line-height: normal;
  }

  .d {
    color: red;
    font-family: 'MinotaurPhatte';
    font-size: 1.5em;
  }
  .c {
    color: blue;
    font-family: 'MinotaurPhatte';
    font-size: 1.5em;
  }
  .transit {
    color: black;
    font-family: 'OrbitronRegular';
    font-size: 1em;
    font-style:italic;
  }
}